body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #242f51;

    background-color: #fdfdfe;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/*----------Header----------*/

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
}

.header_logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.header_logo span{
    color:#fcae61 ;
}

.header_logo strong{
    color: #242f51;
}


/*----------Navigation----------*/
.nav a{
    text-decoration: none;
    font-weight: normal;
    color: #242f51;
}

.nav_links{
    padding: 0 10px;
}

.nav_links:last-child{
    font-weight: bold;
    background: #2500f9;
    padding: 22px 49px;
    margin-left: 69px;
    border-radius: 41px;
    color: #fff;
}

/*----------Intro----------*/
.intro{
    width: 100%;
    height: 100vh;
    min-height: 864px;

    display: flex;

    background: url("../img/background.png") -5% 14%  no-repeat,
    url("../img/background_2.png") 75% 20%  no-repeat,
    url("../img/background_img.jpg") no-repeat bottom;
    background-size: auto, auto, contain; /* Меняем масштаб */


}

.intro_inner{
    display: flex;
    flex-wrap: wrap;
}

.award{
    margin-top: 174px;
    margin-bottom: 8px;
    padding-left: 47px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #242f51;
    background: url(../img/1.png) 2% 44% no-repeat,
    url(../img/2.png) no-repeat,
    url(../img/award_bc.png)no-repeat;
    background-size:  auto,auto,auto;;


}

.intro_info{
    width: 100%;
    max-width: 548px;
}

.intro_content{
    line-height: 1.3;
    width: 50%;
    padding: 28px 19px 0;
}

.intro_content h1{
    font-size: 60px;
    font-weight: bolder;
    color:#242f51;
}

.intro_content p{
    font-size: 18px;
    font-weight: normal;
    color:#616368 ;
}

.intro_btn{
    margin-top: 64px;
}

.intro_btn a{
    text-decoration: none;

}

.intro_btn1{
    font-weight: bold;
    background: #2500f9;
    padding: 22px 49px;
    border-radius: 41px;
    color: #fff;
    margin-right: 26px;
}

.intro_btn2{
    font-weight: normal;
    color:#2500f9 ;
}

.intro_mobile{
    margin-top: 7px;
    margin-left: 79px;
    max-width: 100%;
    height: auto;
}

/*----------Section_companies----------*/
.section{
    padding: 80px 0;
}

.companies_text{
    text-align: center;
    margin-bottom: 40px;
}

.companies{
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.company_logo{
    padding: 0 15px;
}

.company_logo img{
    display: block;
    max-width: 100%;
    height: auto;
}