$font-stack:   'Poppins', sans-serif;
$primary-color: #242f51;
$font-size: 16px;
$gwidth: 100%;
$gheight:100%;
$background_btn:#2500f9;


body{

  margin:0;
  font-family: $font-stack;
  font-size: $font-size;
  line-height: 1.6;
  color: $primary-color;

  background-color: #fdfdfe;
}

.page{
  overflow: hidden;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
}

.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*----------Header----------*/

.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;
}

.header_logo a{
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.header_logo span{
  color:#fcae61 ;
}

.header_logo strong{
  color: $primary-color;
}


/*----------Navigation----------*/
.nav a{
  text-decoration: none;
  font-weight: normal;
  color: #242f51;
}

.nav_links{
  padding: 0 10px;
}

.nav_links:last-child{
  font-weight: bold;
  background:$background_btn;
  padding: 22px 49px;
  margin-left: 69px;
  border-radius: 41px;
  color: #fff;
}

/*----------Intro----------*/
.intro{
  width: 100%;
  height: 100vh;
  min-height: 864px;

  display: flex;

  background: url("../img/background.png") -5% 14%  no-repeat,
  url("../img/background_2.png") 75% 20%  no-repeat,
  url("../img/background_img.jpg") no-repeat bottom;
  background-size: auto, auto, contain; /* Меняем масштаб */


}

.intro_inner{
  display: flex;
  flex-wrap: wrap;
}

.award{
  margin-top: 174px;
  margin-bottom: 8px;
  padding-left: 47px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #242f51;
  background: url(../img/1.png) 2% 44% no-repeat,
  url(../img/2.png) no-repeat,
  url(../img/award_bc.png)no-repeat;
  background-size:  auto,auto,auto;;


}

.intro_info{
  width: 100%;
  max-width: 548px;
}

.intro_content{
  line-height: 1.3;
  width: 50%;
  padding: 28px 19px 0;
}

.intro_content h1{
  font-size: 60px;
  font-weight: bolder;
  color:#242f51;
}

.intro_content p{
  font-size: 18px;
  font-weight: normal;
  color:#616368 ;
}

.intro_btn{
  margin-top: 64px;
}

.intro_btn a{
  text-decoration: none;

}

.intro_btn1{
  font-weight: bold;
  background: $background_btn;
  padding: 22px 49px;
  border-radius: 41px;
  color: #fff;
  margin-right: 26px;
}

.intro_btn2{
  font-weight: normal;
  color: $background_btn;
}

.intro_mobile{
  margin-top: 7px;
  margin-left: 79px;
  max-width: 100%;
  height: auto;
}

/*----------Section_companies----------*/
.section{
  padding: 80px 0;
}

.companies_text{
  text-align: center;
  margin-bottom: 40px;
}

.companies{
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}


.company_logo{
  padding: 0 15px;
}

.company_logo img{
  display: block;
  max-width: 100%;
  height: auto;
}

/*-----------Features-----------*/
.features{
  padding: 89px 0px;
}

.features_content{
  display: flex;
  justify-content: center;
}

.features_inner--back{
  background: url(../img/features/phone_back.png) 95% no-repeat;
  width: 100%;
  max-width: 628px;
}

.features_phone{
  margin-bottom: 109px;
  margin-left: 68px;
}

.features_inner--info{
  width: 100%;
  max-width:460px;
  margin-left: 60px;
}

.features_inner--info h3{
  font-size: 36px;
  font-weight: bolder;
  padding-right: 12px;
  line-height: 1.2;
}

.features_block{
  margin-top: 64px;
  margin-bottom: 45px;
}

.features_set{
  background: url(../img/features/fast.png) 3.8% 70% no-repeat,
  url(../img/features/fast_bc.png) 0% 93% no-repeat;
  background-size: auto, auto;
}


.features_set h5{
  font-size: 20px;
  font-weight: bolder;
  color:#f55767 ;
}

.features_text{
  margin-left: 107px;
  padding-right: 53px;
  margin-bottom: 45px;
}

.features_set_2{
  background: url(../img/features/prototyping.png) 3.8% 70% no-repeat,
  url(../img/features/prototyping_bc.png) 0% 93% no-repeat;
  background-size: auto, auto;
}


.features_set_2 h5{
  font-size: 20px;
  font-weight: bolder;
  color:#2563ff ;
}

.features_set_3{
  background: url(../img/features/vector.png) 3.8% 70% no-repeat,
  url(../img/features/vector_bc.png) 0% 93% no-repeat;
  background-size: auto, auto;
}


.features_set_3 h5{
  font-size: 20px;
  font-weight: bolder;
  color:#40975f ;
}


/*----------Jackpots-------------*/

.jackpots_title{
  display: flex;
}

.jackpots_title h2{
  width: 100%;
  max-width: 435px;
  font-size: 40px;
  font-weight: bolder;
  margin-right: 74px;
  margin-left: 41px;
}

.jackpots_title p{
  padding: 43px 89px;
  color: #616368;
  border-left: 1px solid #b9b9b8;
}

.jackpots_inner{
  display: flex;
  margin-top: 52px;
  justify-content: space-evenly;
}

.jackpots_set{
  background: url(../img/jackpots/auto.png) 7% 10% no-repeat,
  url(../img/jackpots/auto_bc.png) no-repeat;
  background-size: auto, auto;
  width: 100%;
  max-width: 296px;
  margin-left: -29px;
}

.jackpots_text{
  padding-top: 96px;
}

.jackpots_text h5{
  font-size: 20px;
  font-weight: bolder;
  color:#f55767 ;
}

.jackpots_text p{
  margin-top: 3px;
}

.jackpots_set_2{
  background: url(../img/jackpots/network.png) 7% 10% no-repeat,
  url(../img/jackpots/network_bc.png) no-repeat;
  background-size: auto, auto;
  width: 100%;
  max-width: 296px;
}

.jackpots_set_2 h5{
  font-size: 20px;
  font-weight: bolder;
  color:#2563ff  ;
}

.jackpots_set_2 p{
  margin-top: 3px;
}

.jackpots_set_3{
  background: url(../img/jackpots/badge.png) 7% 10% no-repeat,
  url(../img/jackpots/badge_bc.png) no-repeat;
  background-size: auto, auto;
  width: 100%;
  max-width: 296px;
}

.jackpots_set_3 h5{
  font-size: 20px;
  font-weight: bolder;
  color:#40975f  ;
}

.jackpots_set_3 p{
  margin-top: 3px;
}

/*----------Design-------------*/
.design{
  padding-top: 134px;
}

.design_content{
  display: flex;
  justify-content: space-evenly;
}

.design_img img{
  width: 100%;
}

.design_text{
  width: 100%;
  max-width: 445px;
  margin-top: 100px;
  margin-left: -38px;
}

.design_text h2{
  font-size: 36px;
  font-weight: bolder;
  line-height: 1.4;
  padding-right: 20px;
}

.design_text p{
  color: #616368;
}

.design_btn{
  margin-top: 42px;
}

.design_btn a{
  text-decoration: none;
  font-weight: bold;
  background:$background_btn;
  padding: 22px 49px;
  border-radius: 41px;
  color: #fff;
  margin-right: 26px;
}

/*----------Benefits----------*/

.benefits{
  padding-top: 134px;
}
.benefits_title{
  width: 100%;
  max-width: 670px;
  text-align: center;
  margin: 0 auto;
}

.benefits_title h2{
  font-size: 36px;
  font-weight: bolder;
  line-height: 1.3;
}

.benefits_inner{
  display: flex;
  margin-top: 73px;
  justify-content: space-around;
}

.benefits_set{
  width: 100%;
  max-width: 276px;
  background: url(../img/benefits/app.png) no-repeat center 8%,
  url(../img/benefits/app_bc.png) no-repeat center 0;
  background-size: auto,auto;
}

.benefits_text{
  text-align: center;
  padding-top: 100px;
}

.benefits_text h5{
  font-size: 20px;
  font-weight: bolder;
}

.benefits_set--2{
  background: url(../img/benefits/trophy.png) no-repeat center 8%,
  url(../img/benefits/trophy_bc.png) no-repeat center 0;

}

.benefits_set--3{
  background: url(../img/benefits/computer.png) no-repeat center 8%,
  url(../img/benefits/computer_bc.png) no-repeat center 0;

}

.benefits_set--4{
  background: url(../img/benefits/custom.png) no-repeat center 8%,
  url(../img/benefits/custom_bc.png) no-repeat center 0;

}

.benefits_set--5{
  background: url(../img/benefits/ui.png) no-repeat center 8%,
  url(../img/benefits/ui_bc.png) no-repeat center 0;

}

.benefits_set--6{
  background: url(../img/benefits/customer-service.png) no-repeat center 8%,
  url(../img/benefits/service_bc.png) no-repeat center 0;

}

/*------------Ultimate----------*/

.ultimate{
  padding-top: 130px;
}

.ultimate_content{
  display: flex;
}

.ultimate_box{
  width: 100%;
  max-width: 650px;
  margin-left: 253px;
}

.ultimate_box h3{
  font-size: 36px;
  font-weight: bolder;
}

.ultimate_box p{
  padding-bottom: 50px;

}

.ultimate_inner{
  display: flex;

}

.ultimate_set{
  background: url(../img/ultimate/app.png) 9% 6% no-repeat,
  url(../img/ultimate/app_bc.png) no-repeat;
  background-size: auto, auto;
  margin-right: 70px;
}
.ultimate_text{
  padding-top: 100px;
  padding-bottom: 39px;
}
.ultimate_text h5{
  font-size: 20px;
  font-weight: bolder;
  padding-top: 22px;
}

.ultimate_set_2{
  background: url(../img/ultimate/ui.png) 9% 6% no-repeat,
  url(../img/ultimate/custom_bc.png) no-repeat;
  background-size: auto, auto;
}

.ultimate_set_3{
  background: url(../img/ultimate/computer.png) 9% 6% no-repeat,
  url(../img/ultimate/computer_bc.png) no-repeat;
  background-size: auto, auto;
  margin-right: 70px;
}

.ultimate_set_4{
  background: url(../img/ultimate/customer-service.png) 9% 6% no-repeat,
  url(../img/ultimate/ui_bc.png) no-repeat;
  background-size: auto, auto;
}

.ultimate_box_img{
  position: relative;
}

.ultimate_bc{
  position: absolute;
  z-index: 1;
}

.ultimate_phone2{
  position: absolute;
  z-index: 2;
  bottom: 138px;
  left: 194px;
}

.ultimate_phone{
  position: absolute;
  z-index: 3;
  bottom: 81px;
  left: 409px;
}

.design_btn--ultimate{
  margin-left: 245px;
  margin-top: -32px;
}

/*--------Rates--------*/

.rates{
  padding-top: 134px;
  padding-bottom: 134px;
}

.rates_title{
  width: 100%;
  max-width: 670px;
  text-align: center;
  margin: 0 auto;

  h2{
    margin-bottom: 26px;
    font-size: 36px;
    font-weight: bolder;
    line-height: 1.3;
  }

  p{
    margin-bottom: 75px;
  }
}

/*--------Checkbox--------*/

.custom-checkbox {
  width: 340px;
  height: 80px;
  margin: 0 auto;
  input#status {
    display: none;

    // Unchecked State
    + label {
      height: 100%;
      width: 100%;
      > .status-switch {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #ffffff;
        color: #898a8e;
        transition: all 0.5s ease;
        padding: 3px;
        border-radius: 40px;
        border: 3px solid #ebebeb;

        &:before,
        &:after {
          border-radius: 2px;
          height: calc(100% - 6px);
          width: calc(50% - 3px);
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          transition: all 0.3s ease;
        }

        &:before {
          background-color: #2500f9;
          border-radius: 61px;
          color: #ffffff;
          box-shadow: 0 0 4px 4px rgba(#000, 0.2);
          left: 3px;
          z-index: 10;
          content: attr(data-unchecked);
        }

        &:after {
          right: 0;
          content: attr(data-checked);
        }
      }
    }

    // Checked stae
    &:checked + label > .status-switch {
      background-color: #ffffff;

      &:after {
        left: 0;
        content: attr(data-unchecked);
      }

      &:before {
        color:#ffffff;
        left: 50%;
        content: attr(data-checked);
      }
    }
  }
}

/*--------Pricing--------*/

.row{
  margin-top: 150px;
  justify-content:center;

}

.col:hover{
  transition: all 1ms linear;
  transform: scale(1.08);

  .hidden_trial{
    display: block;
  }


}

.shadow-sm{
  box-shadow: 0 10px 20px rgb(0 0 0 / 50%)!important;
}

.card-header{
  background:#f5f8fa;
  padding-bottom: 2rem!important;


  h1{
    padding-top: 29px;
    font-family: $font-stack;
    font-weight: bolder;
    color: $primary-color;
    font-size: 60px;

  }

  small{
    font-family: $font-stack;
    font-size: 18px;
    color: #999ca5;
  }

  p{
    font-family: $font-stack;
    font-weight: bolder;
    font-size: 20px;
    color: $primary-color;
    margin-bottom: -3px;
  }

  span{
    font-family: $font-stack;
    font-size: 16px;
    color: #999ca5;
  }
}

.list-unstyled{
  font-family: $font-stack;
  font-size: 16px;
  color: #999ca5;

  li{
    padding-bottom: 15px;
  }

}



.design_btn--pricing{
  margin-top: 34px;
  margin-bottom: 22px;

  a{
    margin-right: 0;
    padding:20px 53px;
  }
}

/*--------Hidden_trial--------*/

.hidden_trial{
  display: none;
  padding-top: 15px;
  color: #2500f9;

  a{
    text-decoration: none;
    cursor: pointer;
  }
}

/*--------Clients--------*/

.clients{
 display: flex;

  .clients_photos{
    background: url("../img/clients/1.png")36% 0%  no-repeat,
    url("../img/clients/2.png") 80% 7% no-repeat,
    url("../img/clients/3.png") 4% 20% no-repeat,
    url("../img/clients/4.png") 43% 44% no-repeat,
    url("../img/clients/5.png") 9% 58% no-repeat,
    url("../img/clients/6.png") 67% 63% no-repeat,
    url("../img/clients/7.png") 35% 98% no-repeat;
  }

.clients_info{
    width: 100%;
    max-width: 605px;

  .clients_title h2{
    margin-bottom: 26px;
    font-size: 36px;
    font-weight: bolder;
    line-height: 1.3;
  }

  .clients_title p{
  color: #616368;
  }
}

.clients_slide {
  img{
    padding-top: 39px;
    padding-bottom: 30px;
  }

  h5{
      font-size: 20px;
      font-weight: bolder;
      color: $primary-color;
    padding-bottom: 35px;
    }

  p{
    color: #616368;
  }

  .clients_name{
    display: flex;
  }

  .clients_position{
    padding-top: 60px;
    padding-left: 22px;
    position: relative;

    span{
      font-size: 18px;
      font-weight: bolder;
      color: $primary-color;
    }
  }

}}

.arrow {
  position: absolute;
  top: 50%;
  width: 3vmin;
  height: 3vmin;
  background: transparent;
  border-top: 1vmin solid $primary-color;
  border-right: 1vmin solid $primary-color;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;

  &.left {
    left: 289px;
    transform: translate3d(0,-50%,0) rotate(-135deg);
  }

  &.right {
    left: 410px;
    transform: translate3d(0,-50%,0) rotate(45deg);
  }

  &:hover {
    border-color: orange;
    box-shadow: 0.5vmin -0.5vmin 0 white;
  }

  &:before { // for better hit area
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-60%) rotate(45deg);
    width: 200%;
    height: 200%;
  }
}

/*--------FAQ--------*/

.faq{
  padding: 138px 0;

  .accordion{
    color: #616368;
    margin: 0 auto;
  }
  .accordion-item{
    background-color: #f5f7fa;
  }
  .accordion-button{
    background-color: #f5f7fa;
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
  }
  .accordion-button.collapsed{
    font-weight: 600;
  }
}

/*--------Footer--------*/
.footer{
  padding-left: 100px;
  padding-top: 10px;

  .footer_inner{
    display: flex;
    .footer_guy{
      width: 100%;
      display: block;
    }
  }

  .footer_block {
    width: 100%;
    min-width: 632px;

    h2{
    font-size:48px ;
    font-weight: bold;
    }
    p{
      color: #616368;
      padding: 40px 0;
    }
  }
  .apps{
    display: flex;
    .google{
    padding-right: 35px;
    }
  }

}

























